*{
    font-family: sans-serif;
}

.main{
    margin: 0px auto;
    padding-top: 1px;
    padding-right: 30px;
    padding-left: 30px;
    height: 900px;
    width: 900px;
    background-color: rgb(213, 227, 241);
}

h1{
    text-align: center;
    color: rgb(67, 80, 74)
}

img{
    height: 200px;
    width: 200px;
}

.flex {
    display:flex;
}

.bluebox{
    background-color: rgb(121, 199, 230);
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.pinkbox{
    background-color: pink;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.whitebox{
    background-color: white;
    padding: 20px 0px;
    justify-content: space-around;
}

h5{
    font-weight: normal;
    text-align: center;
}
